@import "tailwindcss";

@theme {
  --color-brand-bg: #FAFAFA;
  --color-brand-main: #1A1A1A;
  --color-brand-muted: #71717A;
  --color-brand-accent: #0052FF;
  --color-brand-hover: #003ECC;
  --color-brand-card: #FFFFFF;
  --color-brand-border: #E4E4E7;

  --font-sans: "Inter", "Poppins", ui-sans-serif, system-ui;
  
  --default-transition: all 0.3s ease;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    /* @apply bg-brand-bg text-brand-main font-sans antialiased;
    background-color: var(--color-brand-bg);
    color: var(--color-brand-main);
    font-family: var(--font-sans); */
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
}